body {
    margin: 0%;
  }

  .header {
    text-align:  center;
  }

  .navigation{
    background-color:  #262626;
    position: sticky;
    top: 0px;
    display: flex;
  }

  .dropbtn{
    color: white;
    margin: 15px;
  }

  .drop_1:hover .dropdown-content {
    display: block;
  }

  .drop_2:hover .dropdown-content {
    display: block;
  }

  .drop_1:hover{
    background-color: gray;
  }

  .drop_2:hover{
    background-color: gray;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    
  }

  

  div.dropdown-content>a{
    color:  white;
    text-decoration: none;
    margin: 15px;
    display: block;
  }

  div.dropdown-content>a:hover{
    text-decoration: underline;
  }

  div.content{
    text-align: justify;
    display: flex;
  }

  div#left-content,
  div#right-content{
    width: calc(10% - 100px);
    padding: 50px;
  }

  div#main-content{
    width: 80%;
  }

  .footer{
    background-color: gray;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .Kontakt-Daten{
    margin-left: 15px;
  }


  footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
  }
  
  footer h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  footer p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  footer ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
  }
  
  footer li {
    font-size: 14px;
    line-height: 1.5;
  }
  
  footer li i {
    margin-right: 10px;
  }
  
  .social li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social li:last-child {
    margin-right: 0;
  }
  
  .social a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #333;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  
  .social a:hover {
    background-color: #333;
    color: #fff;
    text-decoration: none;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  

  footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  footer .container {
    display: inline-block;
  }
  


