
/*.product {
    padding: 1px;
    margin: 1px;

}

.product img {
    transition: all 0.3s ease;
    width: 100%;
    height: 100%;
}

.product img {
    
    max-width: 400px;
    max-height: 400px;
}

.product:hover img {
    transform: scale(1.1);
    
}*/

