<!--
<div class="product">
    <img class="product-image"></img>
    <h2 class="product-title"></h2>
    <p class="product-price"></p>
    <p class="product-description"></p>
</div>
-->


<div class="product">
    <div class="product-image-container">
      <img class="product-image" src="path/to/image.jpg" alt="Product Image">
    </div>
    <div class="product-details">
      <h2 class="product-title">Product Title</h2>
      <p class="product-description">Product Description</p>
    </div>
</div>
  
  

<head>
    <link rel="stylesheet" href=".\\components\\product\\product.css">
</head>