.product {
    padding: 5px;
    margin: 5px;
}

.product img {
    
    max-width: 400px;
    max-height: 400px;
}

.product:hover img {
    transform: scale(1.1);
}

.selected-product-left {
    margin: 20px;
    background-color: #f2f2f2;    
    max-width: 500px;
    max-height: 500px;
}

.selected-product-right {
    margin: 20px;
    background-color: #f2f2f2;
    max-width: 500px;
    max-height: 500px;
    display: wrap;
}

.selected-product-XXX {
    background-color: #f2f2f2;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    display: wrap;
}