<div class="navigation">
    <div class="drop_1">
        <p class="dropbtn">Klamotten</p>
        <div class="dropdown-content">
            <a id="tops">Tops</a>
            <a id="pants">Pants</a>
            <a id="shoes">Shoes</a>
        </div>
    </div> 
    <div class="drop_2">
        <p class="dropbtn">Verkaufe an uns</p>
        <div class="dropdown-content">
            <a id="home">Home</a>
            <a id="details">Details</a>
            <a id="details">Details</a>
        </div>
    </div>
</div>