<div class="navigation">
    <div class="drop_1">
        <p class="dropbtn">Klamotten</p>
        <div class="dropdown-content">
            <a href ="page1.html">Tops</a>
            <a href ="page1.html">Pants</a>
            <a href ="page1.html">Shoes</a>
        </div>
    </div> 
    <div class="drop_2">
        <p class="dropbtn">Verkaufe an uns</p>
        <div class="dropdown-content">
            <a href ="page2.html">Test1</a>
            <a href ="page2.html">Test2</a>
            <a href ="page2.html">Test3</a>
        </div>
    </div>
</div>