<div id="warenkorb">
    <div class="warenkorb-container">
        <div class="warenkorb-title">Title</div>
        <div class="warenkorb-content">Content</div>
        <ul>
            <li>Produkt 1 (Preis: xy)</li>
        </ul>
        <!-- Eigene Sektion für Aktivitöten rund um warenkorb -->
        <div class="warenkorb-action">
            <button class="warenkorb-confirm">Confirm</button>
            <button class="warenkorb-cancel">Cancel</button>
        </div>
    </div>
</div>